{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load static %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}


    <section class="account-section login-account-section section">
        <div class="content-container account-card">
            <div class="account-card-section login-account-section-upper content-container gp-10">
              <div class="account-card-wrapper content-container gp-10">
                  <div class="heading-3 white-text">{% trans "Password Reset" %}</div>
                  <div class="white-text forgot-password-text">
                    {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
                  </div>
              </div>
              <div class="account-card-img-overlay dark-overlay"></div>
              <div class="account-card-bg-img-container">
                  <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1686931709/CI_PP4_COINHUB/account/uy02uamsucudqbzromlh.png" alt="Starry background image" class="img-100a account-card-bg-img">
              </div>
            </div>
            <div class="account-card-section content-container login-accouint-section-lower gp-50">
                <form class="account-form login-form gp-50 content-container" id="signup_form" method="POST" action="{% url 'account_reset_password' %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input type="submit" value="{% trans 'Reset My Password' %}" class="dark-btn btn white-text" />
                </form>
            </div>
        </div>
    </section>


    <script src="{% static 'js/forgot-password.js' %}"></script>


{% endblock %}
