/* Import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --WHITE: #ffffff;
    --GRAY-DARK-1: #333333;
    --GRAY-DARK-2: #636363;
    --GRAY-LIGHT-1: #f5f5f5;
    --GRAY-LIGHT-2: #d8d8d8;
    --GRAY-LIGHT-3: #eeeeee;
    --TRANSPARENT-DARK: #00000070;
    --TRANSPARENT-DARK-2: #0000004e;
    --TRANSPARENT-LIGHT: #f5f5f59d;
    --TRANSPARENT-LIGHT-2: #f5f5f541;
    --BLUE-LIGHT-1: #00e8fc;
    --BLUE-LIGHT-2: #F5F8FF;
    --BLUE-LIGHT-3: #00e7fce5;
    --BLUE-DARK-1: #044a72;
    --BLUE-DARK-2: #053554;
    --GREEN-1: #4ec437;
    --RED-1: #d31d1d;
}

body {
    background-color: var(--GRAY-LIGHT-1);
    min-height: 100vh;
    position: relative;
    font-family: "Roboto", sans-serif;
}

a:visited {
    color: var(--GRAY-DARK-1);
}

a {
    text-decoration: none;
    color: var(--GRAY-DARK-1);
}

/* Header */

header {
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    z-index: 4;
    border-bottom: 1px solid var(--GRAY-LIGHT-2);
}

.header-container {
    height: 100px;
    width: calc(100vw - 80px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--GRAY-DARK-1);
}

/* Logo */

.logo-container {
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img-container {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--GRAY-DARK-1);
}

.logo-img {
    width: 100%;
    height: auto;
}

.logo {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.logo-text {
    font-size: 2rem;
    font-weight: bold;
    color: var(--BLUE-DARK-2);
}

/* Nav Bar */

.nav-bar {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 100%;
}

.nav-item {
    list-style-type: none;
    font-size: 1.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    position: relative;
    text-align: center;
}

.nav-link {
    text-decoration: none;
    color: var(--GRAY-DARK-1);
    display: flex;
    align-items: center;
    position: relative;
}

.nav-link::after {
    position: absolute;
    content: '';
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--GRAY-DARK-1);
    transition: width 0.5s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 40px;
    height: 5px;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--GRAY-DARK-1);
    border-radius: 3px;
}

/* Account Login */

.account-login-container {
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.account-login-btns-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.account-login-icon-container {
    display: none;
}

.btn {
    background-color: var(--BLUE-LIGHT-1);
    padding: 15px 35px;
    color: var(--GRAY-DARK-1);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    width: fit-content;
}

/* Media Queries */

@media (max-width: 1400px) {
    /* Nav Bar */

    .header-container {
        width: calc(100vw - 40px);
    }

}

@media (max-width: 1250px) {
    /* Header */

    /* Nav Bar */

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--BLUE-DARK-1);
        width: 100vw;
        max-width: 100%;
        height: fit-content;
        text-align: center;
        transition: 0.3s;
        z-index: 999;
        padding: 100px 0;
        gap: 30px;
    }

    .nav-menu.active {
        left: 0;
    }

    header.active {
        position: fixed;
    }

    .nav-item {
        height: fit-content;
    }

    .nav-dropdown-container {
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease;
        position: absolute;
        display: none;
    }

    .nav-dropdown-container.active {
        display: flex;
    }

    .nav-dropdown {
        width: 100%;
        border-radius: 0;
        height: fit-content;
    }

    .nav-dropdown-btn:hover .nav-dropdown-icon {
        transform: rotate(0);
    }

    .nav-link {
        color: var(--WHITE);
    }
}

@media (max-width: 768px) {
    .logo-text {
        display: none;
    }

    .logo-container {
        width: 100px;
    }

    .account-login-container {
        width: 100px;
    }

    .account-login-btns-container {
        display: none;
    }

    .account-login-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
    }

    .account-login-icon {
        font-size: 2.9rem;
        color: var(--GRAY-DARK-1);
    }
}

/* Footer */

footer {
    width: 100vw;
    max-width: 100%;
    background-color: var(--GRAY-LIGHT-1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Source-Sans-Pro", sans-serif;
    border-top: 1px solid var(--GRAY-LIGHT-2);
}

.footer-container {
    height: 100px;
    width: calc(100% - 200px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--GRAY-DARK-1);
}

.copyright {
    font-size: 1rem;
    color: var(--GRAY-DARK-2);
    display: flex;
    justify-content: center;
    text-align: center;
    width: fit-content;
}

.disclaimer {
    font-size: 1rem;
    color: var(--GRAY-DARK-2);
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 50px;
    width: fit-content;
}

.footer-logo-img-container {
    width: 65px;
    height: 65px;
}

.footer-logo {
    width: 100%;
    height: auto;
}

/* Media Queries */

@media (max-width: 1000px) {
    .footer-container {
        height: 250px;
        justify-content: space-around;
        flex-direction: column-reverse;
    }

    .disclaimer {
        padding: 0;
    }

}

@media (max-width: 768px) {
    .footer-container {
        width: calc(100% - 80px);
        padding: 20px 0 10px 0;
    }
}

/* Welcome Section */

.section {
    width: 100%;
    max-width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.light-gray-1 {
    background-color: var(--GRAY-LIGHT-1);
}

.section-container {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-container-rows {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-section {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: calc(100vh - 100px);
}

.welcome-section-container {
    gap: 100px;
}

.welcome-content-container {
    width: 550px;
    align-items: flex-start;
}

.dark-text {
    font-size: 1.5rem;
    color: var(--GRAY-DARK-1);
}

.dark-blue-text {
    font-size: 1.5rem;
    color: var(--BLUE-DARK-1);
}

.heading {
    font-size: 4rem;
}

.welcome-heading {
    align-self: flex-start;
}

.img-container {
    width: 550px;
    height: 550px;
}

.img-container img {
    width: 100%;
    height: auto;
}

/* Media Queries */

@media (max-width: 1250px) {
    .section-container {
        width: 100%;
        padding: 0 40px;
    }
    
    .welcome-img-container {
        width: calc(50vw - 150px);
        height: 0;
        padding-bottom: calc(50vw - 150px);
    }
}

@media (max-width: 1000px) {
    
    .welcome-section {
        height: fit-content;
    }

    .welcome-section-container {
        flex-direction: column;
    }

    .welcome-content-container {
        padding: 0;
        width: calc(100% - 200px);
        align-items: center;
        text-align: center;
    }

    .welcome-heading {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .welcome-content-container {
        width: calc(100% - 40px);
    }

    .welcome-img-container {
        display: none;
    }

    .dark-text {
        font-size: 1.3rem;
    }

    .heading {
        font-size: 3rem;
    }
}

/* Stats Section */

.stats-section {
    padding: 70px 0;
}

.stats-container {
    gap: 100px;
}

.dark-blue-1 {
    background-color: var(--BLUE-DARK-1);
}

.stat-col {
    gap: 10px;
}

.white-text {
    color: var(--WHITE);
    font-size: 1.5rem;
}

.stat-heading {
    font-size: 3rem;
    font-weight: bold;
}

.stat-subheading {
    font-size: 1.5rem;
}

/* Media Queries */

@media (max-width: 1250px) {
    .stats-container {
        justify-content: space-evenly;
        gap: 0px;
    }
}

@media (max-width: 768px) {
    .stats-container {
        flex-direction: column;
        gap: 50px;
    }
}

/* Crypto List Home Section */

.crypto-list-home-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.w-100 {
    width: 100%;
}

.pb-50 {
    padding-bottom: 50px;
}

.crypto-list-heading {
    font-size: 2rem;
    font-weight: bold;
}

.view-more-markets-link {
    font-size: 1.2rem;
}

.view-more-markets-link:hover {
    color: var(--BLUE-LIGHT-1);
}

.table-wrapper {
    border: 1px solid var(--GRAY-LIGHT-2);
    border-radius: 15px;
}

.crypto-list-home-table {
    border-collapse: collapse;
}

.crypto-list-home-table td, .crypto-list-home-table th {
    border-bottom: 1px solid var(--GRAY-LIGHT-2);
    font-size: 1.3rem;
    padding: 20px 0;
}

.crypto-list-home-table td:first-child, .crypto-list-home-table th:first-child {
    padding: 20px 0 20px 20px;
}

.crypto-list-home-table tr:last-child td {
    border-bottom: none;
}

.crypto-list-home-table th {
    text-align: left;
    font-weight: normal;
    color: var(--GRAY-DARK-2);
}

.crypto-list-home-table .crypto-name-symbol, 
.crypto-list-home-table .crypto-name-symbol-heading {
    width: 50%;
}

.crypto-list-home-table .crypto-price,
.crypto-list-home-table .crypto-price-heading,
.crypto-list-home-table .crypto-change,
.crypto-list-home-table .crypto-chart,
.crypto-list-home-table .crypto-trade {
    width: 12.5%;
    text-align: center;
}

.crypto-list-home-table .crypto-symbol {
    font-size: 1.1rem;
    color: var(--GRAY-DARK-2);
}

.crypto-list-home-table .buy-btn {
    padding: 10px 20px;
    font-size: 1.1rem;
    background-color: var(--GREEN-1);
}

.positive {
    color: var(--GREEN-1);
}

.negative {
    color: var(--RED-1);
}

.crypto-icon-container {
    width: 30px;
    height: 30px;
}

.crypto-icon {
    width: 100%;
    height: 100%;
}

.crypto-name-symbol-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.crypto-details {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
}

canvas.price-sparkline {
    width: 80px;
    height: 20px;
}

.crypto-list-home-table .table-content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media Queries */

@media (max-width: 768px) {
    .crypto-list-home-heading-container {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .crypto-list-home-table td, .crypto-list-home-table th {
        font-size: 1.1rem;
    }

    .crypto-list-home-table td:first-child, .crypto-list-home-table th:first-child {
        padding: 20px 0 20px 10px;
    }

    .crypto-list-home-table td.crypto-name-symbol, .crypto-list-home-table .crypto-name-symbol-heading {
        width: 33%;
        text-align: center;
    }
    
    .crypto-list-home-table .crypto-price,
    .crypto-list-home-table .crypto-price-heading,
    .crypto-list-home-table .crypto-change,
    .crypto-list-home-table .crypto-trade {
        width: 33%;
    }

    .crypto-list-home-table .crypto-chart, .crypto-list-home-table .crypto-symbol, .crypto-list-home-table .crypto-change {
        display: none;
    }

    .crypto-list-home-table .crypto-symbol {
        display: none;
    }

    .crypto-icon-container {
        width: 25px;
        height: 25px;
    }

    .crypto-name-symbol-wrapper {
        gap: 5px;
    }

    .crypto-details {
        gap: 5px;
    }
    
}

/* Portfolio Home Section */

.heading-3 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.sub-heading-3 {
    font-size: 2rem;
    text-align: center;
}

.pb-20 {
    padding-bottom: 20px;
}

.text-gd-2 {
    color: var(--GRAY-DARK-2);
}

.gp-50 {
    gap: 50px;
}

.gp-20 {
    gap: 20px;
}

.gp-10 {
    gap: 10px;
}

.benefit-item {
    justify-content: flex-start;
}

.portfolio-benefits {
    align-items: flex-start;
    width: 550px;
}

.benefit-icon-container {
    width: 100px;
    height: 100px;
    padding: 20px;
    border-radius: 50%;
    background-color: var(--WHITE);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.icon {
    width: 100%;
    height: auto;
}

.benefit-text-container {
    text-align: left;
    justify-content: flex-start;
    width: 400px;
}

.benefit-heading {
    font-size: 2rem;
    align-self: start;
}

.portfolio-home-img-container {
    width: 600px;
    height: 400px;
    background-color: var(--BLUE-DARK-1);
    border-radius: 5px;
    position: relative;
}

.phone-portfolio-img-container {
    width: 175px;
    height: 350px;
    background-color: var(--BLUE-LIGHT-1);
    position: absolute;
    right: 70px;
    bottom: -50px;
    border-radius: 30px;
}

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* Media queries */

@media (max-width: 1250px) {
    .crypto-portfolio-showcase-container {
        flex-direction: column;
    }

    .benefit-heading, .benefit-text {
        text-align: center;
        align-self: center;
    }
}

@media (max-width: 768px) {
    .portfolio-home-img-container {
        width: 100%;
        height: 0;
        padding-bottom: 66%;
    }

    .phone-portfolio-img-container {
        width: 30%;
        height: 0;
        padding-bottom: 60%;
        border-radius: 20px;
    }

    .portfolio-benefits {
        width: calc(100% - 20px);
    }

    .benefit-item {
        gap: 10px;
        width: 100%;
    }

    .benefit-text-container {
        width: calc(100% - 110px);
        gap: 10px;
    }
}

/* Trust Section */

.reason-icon-container {
    width: 100px;
    height: 100px;
}

.reason-heading {
    font-size: 2rem;
}

.reason-heading, .reason-text {
    text-align: center;
}

/* Media Queries */

@media (max-width: 768px) {
    .reasons-container {
        flex-direction: column;
    }
}

/* Call to action section */

.light-gray-3 {
    background-color: var(--GRAY-LIGHT-3);
}

/* Crypto Search Section */

.search-container {
    position: relative;
}

.input-container {
    position: relative;
}

.crypto-search-input {
    width: 600px;
    padding: 30px 60px;
    border-radius: 50px;
    font-size: 1.5rem;
    border: 3px solid var(--GRAY-DARK-1);
}

.crypto-search-input.search {
    border: 3px solid var(--BLUE-LIGHT-1);
    outline: none;
}

.search-icon, .close-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--GRAY-DARK-1);
}

.search-icon.search, .close-icon.search {
    color: var(--BLUE-LIGHT-1);
}

.search-icon {
    left: 20px;
}

.close-icon {
    right: 20px;
    font-size: 2rem;
}

.crypto-search-results {
    width: 100%;
    position: absolute;
    top: calc(100% + 20px);
    padding: 20px;
    height: fit-content;
    max-height: 350px;
    border: 1px solid var(--GRAY-DARK-2);
    border-radius: 15px;
    z-index: 3;
    background-color: var(--GRAY-LIGHT-1);
    justify-content: flex-start;
    display: none;
}

.crypto-search-result {
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
}

.crypto-search-result:hover {
    background-color: var(--GRAY-LIGHT-3);
    cursor: pointer;
}

.pt-20 {
    padding-top: 20px;
}

/* Trending Crypto Section */

.trending-crypto-container {
    justify-content: space-between;
    align-items: flex-start;
}

.trending-crypto-item {
    justify-content: space-between;
    font-size: 1.3rem;
    cursor: pointer;
}

.w-33 {
    width: 33%;
}

.p-20 {
    padding: 20px;
}

.trending-name-symbol {
    align-items: flex-start;
    gap: 5px;
}

.trending-icon-container {
    width: 45px;
    height: 45px;
}

.trending-crypto-card {
    border: 1px solid var(--GRAY-DARK-2);
    border-radius: 5px;
    padding: 30px;
}

.trending-icon-name-symbol {
    justify-content: flex-start;
    width: 50%;
}

.trending-crypto-price-container {
    display: flex;
    justify-content: flex-start;
    width: 30%;
}

.trending-crypto-change {
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

/* Crypto Markets Section */

.crypto-list-markets-table .crypto-price,
.crypto-list-markets-table .crypto-price-heading,
.crypto-list-markets-table .crypto-change,
.crypto-list-markets-table .crypto-chart,
.crypto-list-markets-table .crypto-trade,
.crypto-list-markets-table .crypto-market-cap,
.crypto-list-markets-table .crypto-market-cap-heading,
.crypto-list-markets-table .crypto-volume,
.crypto-list-markets-table .crypto-volume-heading {
    width: 12.5%;
    text-align: center;
}

.crypto-list-markets-table td.crypto-name-symbol, .crypto-list-markets-table .crypto-name-symbol-heading {
    width: 25%;
}

.markets-table-wrapper {
    display: none;
}

/* Crypto Details Section */

.crypto-details-side-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    height: calc(100vh - 200px);
    border-right: 1px solid var(--GRAY-LIGHT-2);
}

.crypto-details-side-nav .return-btn {
    cursor: pointer;
}

.crypto-details-side-nav .return-btn:hover, .side-nav-link:hover, .side-nav-link.active {
    color: var(--BLUE-LIGHT-1);
}

/* Historical Price Chart Section */

.crypto-details-section {
    margin-left: 300px;
    width: calc(100% - 300px);
    border-bottom: 1px solid var(--GRAY-LIGHT-2);
}

.crypto-details-section-container {
    justify-content: space-between;
    padding: 75px;
}

.crypto-details-icon-container {
    width: 75px;
    height: 75px;
}

.crypto-details-container-rows {
    justify-content: flex-start;
}

.historical-section-container-wrapper {
    width: calc((100vw - 750px));
    height: 800px;
    border-right: 1px solid var(--GRAY-LIGHT-2);
    position: relative;
}

.historical-price-chart-section-container {
    display: none;
}

.historical-price-heading-container {
    justify-content: space-between;
    height: 200px;
    width: calc((100vw - 900px));
}

.historical-price-time-periods-btn {
    padding: 12px 18px;
    border-radius: 15px;
    cursor: pointer;
}

.historical-price-time-periods-btn.active {
    background-color: var(--BLUE-LIGHT-1);
}

.historical-price-container {
    align-items: flex-start;
}

.historical-price-chart-wrapper {
    position: relative;
    cursor: crosshair;
    width: calc((100vw - 900px));
    display: flex;
    justify-content: center;
    align-items: center;
}

.historical-price-chart-container {
    width: calc((100vw - 900px));
    height: 550px;
}

.loading-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--GRAY-LIGHT-2);
    border-top: 10px solid var(--BLUE-LIGHT-1);
    animation: spin 1s infinite linear;
}

.loading-icon-container {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.vertical-line-container {
    position: absolute;
    height: 560px;
    bottom: 0;
    z-index: 10;
    display: none;
}

.vertical-line {
    width: 2px; 
    height: 100%;
    position: relative; 
}

.vertical-line-section {
    width: 2px;
    background-color: var(--BLUE-LIGHT-1);
    position: absolute;
    border-radius: 10px;
    left: 0;
}

.timestamp-date {
    position: absolute;
    top: -30px;
    width: 200px;
    left: -99px;
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
}

.historical-price-chart-overlay {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    display: none;
    background-color: var(--TRANSPARENT-LIGHT);
    pointer-events: none;
}

/* Buy Section */

.crypto-details-buy-section {
    width: 450px;
    max-width: 450px;
    height: 800px;
    background-color: var(--BLUE-LIGHT-2);
}

.buy-section-img-container {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

.img-100a {
    width: 100%;
    height: auto;
}

.buy-section-text-container {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 0 50px 50px;
}


/* Market Stats Section */

.crypto-details-market-stats-container {
    padding: 75px;
    width: 100%;
}

.market-stats-container {
    justify-content: space-between;
    width: 100%;
}

.crypto-details-heading {
    align-self: flex-start;
}

.market-stats-col, .market-stats-item {
    align-items: flex-start;
}

/* Crypto Details About Section */

.crypto-details-about-container {
    max-width: calc(100vw - 750px);
    align-items: flex-start;
    align-self: flex-start;
    text-align: left;
}

.crypto-details-sub-heading {
    font-weight: bold;
    align-self: flex-start;
}

.weekly-summary, .resource-link-container, .official-resource-link-container, .about-text-container, .extra-resource-link-container {
    align-items: flex-start;
}

/* Account Login Section */

.account-section {
    min-height: 100vh;
    padding: 50px;
    width: 100%;
    background: rgb(245,245,245);
    background: radial-gradient(circle, rgba(245,245,245,1) 0%, rgba(238,238,238,1) 50%, rgba(216,216,216,1) 100%);
    position: relative;
}

.account-card {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.42) 0px 19px 38px, rgba(0, 0, 0, 0.32) 0px 15px 12px;
}

.login-account-section-upper {
    text-align: center;
    height: 350px;
    width: 650px;
    position: relative;
}

.unregistered-account-link {
    color: var(--BLUE-LIGHT-1);
}

.unregistered-account-link:visited {
    color: var(--BLUE-LIGHT-1);
}

.unregistered-account-link:hover {
    color: var(--BLUE-LIGHT-1);
}

.account-card-section {
    padding: 50px 80px;
    min-width: 650px;
}

.login-accouint-section-lower {
    background-color: var(--BLUE-LIGHT-2);
}

.login-form {
    gap: 30px;
}

.account-form label {
    display: none;
}

.account-input-container {
    position: relative;
}

.account-form .form-input {
    font-size: 1.5rem;
    color: white;
    background-color: var(--BLUE-DARK-1);
    border-radius: 30px;
    padding: 15px 40px 15px 70px;
    border: none;
    position: relative;
}

.account-form .form-input::placeholder {
    color: var(--WHITE);
}

.account-form .form-input:focus{
    outline: none;
}

.account-input-icon-container {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 5;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-input-icon {
    font-size: 1.5rem;
    color: var(--WHITE);
}

.remember-checkbox-container {
    gap: 50px;
}

.remember-label {
    font-size: 1.5rem;
    color: var(--BLUE-DARK-1);
}

.remember-container {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.remember-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid var(--BLUE-DARK-1);
    border-radius: 3px;
    outline: none;
    position: relative;
}
  
.remember-checkbox::before {
    content: "";
    position: absolute;
    top: 45%;
    left: 25%;
    width: 30%;
    height: 70%;
    border: solid var(--BLUE-LIGHT-1);
    border-width: 0 3px 3px 0;
    transform: translateY(-50%) rotate(45deg);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
  
.remember-checkbox:checked::before {
    opacity: 1;
}

.dark-btn {
    background-color: var(--BLUE-DARK-1);
    border: none;
}

.account-card-bg-img-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 6;
}

.dark-overlay {
    width: 100%;
    height: 100%;
    background-color: var(--TRANSPARENT-DARK-2);
    position: absolute;
}

.account-card-wrapper {
    z-index: 8;
}

.account-card-img-overlay {
    z-index: 7;
}

.account-section-bg-container {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

.account-card {
    z-index: 5;
}

/* Trading Pairs Section */

.trading-pairs-table-wrapper {
    padding-top: 50px;
}

.crypto-list-trading-pairs-table {
    border-top : 1px solid var(--GRAY-LIGHT-2)
}

.crypto-list-trading-pairs-table .tr-link:hover {
    background-color: var(--GRAY-LIGHT-3);
    cursor: pointer;
}

.crypto-list-trading-pairs-table .crypto-change,
.crypto-list-trading-pairs-table .crypto-volume,
.crypto-list-trading-pairs-table .crypto-volume-heading,
.crypto-list-trading-pairs-table .crypto-price,
.crypto-list-trading-pairs-table .crypto-price-heading {
    width: 23.33%;
    text-align: left;
    font-size: 1.8rem;
    padding: 30px;
}

.crypto-list-trading-pairs-table .crypto-name-symbol,
.crypto-list-trading-pairs-table .crypto-name-symbol-heading {
    width: 30%;
    text-align: left;
    font-size: 1.8rem;
    padding: 40px;
}

/* Deposit Page */

.deposit-section {
    height: calc(100vh - 100px);
    min-height: 800px;
    background: rgb(245,245,245);
    background: radial-gradient(circle, rgba(245,245,245,1) 0%, rgba(238,238,238,1) 50%, rgba(216,216,216,1) 100%);
}

.deposit-card {
    padding: 50px 80px;
    margin-bottom: 100px;
    border-radius: 15px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.42) 0px 19px 38px, rgba(0, 0, 0, 0.32) 0px 15px 12px;
}

.deposit-card-wrapper {
    position: relative;
}

.deposit-form-input {
    font-size: 1.5rem;
    color: var(--GRAY-DARK-1);
    padding: 10px 20px;
    border-radius: 15px;
    border: 3px solid var(--BLUE-DARK-1);
    width: 350px;
}

.deposit-form-input.validation-error {
    border: 3px solid var(--RED-1);
}

.deposit-form-input:focus {
    border: 3px solid var(--BLUE-LIGHT-1);
    outline: none;
}

.deposit-input-wrapper {
    position: relative;
}

.deposit-form-input-container {
    gap: 5px;
}

.deposit-form-input-container {
    text-align: left;
    align-items: flex-start;
}

.deposit-form-amount-input-container {
    padding: 20px 0;
}

.expire-cvv-container .deposit-form-input {
    width: 125px;
}

.expire-cvv-container {
    width: 350px;
    justify-content: space-between;
}

.deposit-btn {
    border: none;
}

.balance-container {
    display: none;
    height: 100%;
}

.validation-error-icon-container {
    position: absolute;
    left: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
}

.validation-error-icon {
    color: var(--RED-1);
    font-size: 1.5rem;
}

.validation-error-text {
    position: absolute;
    right: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    width: 150px;
    height: 100px;
    text-align: center;
    border-radius: 5px;
    background-color: var(--RED-1);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deposit-card-balance {
    position: absolute;
    top: -30px;
    left: 20px;
}

.euro-symbol {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}

/* Portfolio Section */

.portfolio-chart-container {
    border: 1px solid var(--GRAY-LIGHT-2);
    border-radius: 15px;
}

.portfolio-price-heading-container {
    padding: 40px;
    border-bottom: 1px solid var(--GRAY-LIGHT-2);
    width: 1200px;
    height: fit-content;
}

.portfolio-price-chart-wrapper {
    width: 1140px;
    height: 285px;
}

.portfolio-chart-wrapper-container {
    width: 1200px;
    height: fit-content;
    padding: 60px 40px 20px 40px;
}

.portfolio-price-chart-container {
    width: 1140px;
    height: 285px;
}

.portfolio-vertical-line-container {
    height: 315px;
    bottom: -20px;
}

.timestamp-date-portfolio {
    top: -35px;
}


.asset-icon-container {
    width: 60px;
    height: 60px;
}

.asset-balance-amount-container {
    align-items: flex-start;
}

.asset-balance {
    font-size: 1.6rem;
}

.asset-amount {
    font-size: 1.4rem;
}

.asset-price,
.asset-price-heading,
.asset-name,
.asset-name-heading,
.asset-balance,
.asset-balance-heading {
    width: 33%;
    align-items: flex-start;
}

.asset-name-icon-container, .asset-details {
    align-items: flex-start;
}

.portfolio-assets-section {
    padding: 0 0 100px 0;
}

/* Trading Pair Seciton */

.trading-pair-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.trading-pair-left-side {
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
}

.trading-pair-right-side {
    width: 600px;
}

.trading-pair-left-side-section {
    justify-content: flex-end;
    padding: 0px 10px 20px 0;
}

.trading-pair-right-side-section {
    justify-content: flex-start;
    padding: 0px 0 20px 10px;
}

.trading-pair-left-side-section:first-child {
    padding-top: 20px;
}

.trading-pair-right-side-section:first-child {
    padding-top: 20px;
}

/* Trading Pair Heading Section */

.trading-pair-heading-container {
    padding: 50px;
    border: 1px solid var(--GRAY-LIGHT-2);
    border-radius: 15px;
    width: 1200px;
    justify-content: space-between;
    position: relative;
}

.dropdown-btn {
    gap: 10px;
    font-size: 1.8rem;
    padding: 15px 30px;
    border-radius: 50px;
    background-color: var(--GRAY-LIGHT-2);
    border: 2px solid var(--GRAY-DARK-1);
    cursor: pointer;
}

.dropdown-btn-icon {
    font-size: 1.5rem;
    color: var(--GRAY-DARK-1);
    transition: all 0.3s ease;
}

.dropdown-btn-icon.active {
    transform: rotate(-180deg);
}

.trading-pair-heading-item-container {
    align-items: flex-start;
}

.crypto-trade-table-trading-pair {
    display: none;
    position: absolute;
    top: calc(100% + 50px);
    width: 100%;
    left: 0;
}

.crypto-trade-table-trading-pair.active {
    display: flex;
    background-color: var(--GRAY-LIGHT-1);
    z-index: 5;
}

/* Trading Pair Price Chart Section */

.trading-pair-chart-heading-container {
    justify-content: space-between;
}

.trading-pair-price-chart-wrapper {
    height: 500px;
}

.trading-pair-price-chart-container {
    height: 450px;
}

.trading-pair-chart-wrapper-container {
    padding: 0px;
}

.crosshair-vertical-line-container {
    position: absolute;
    height: 500px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 2px;
}

.trading-pair-price-chart-wrapper {
    position: relative;
    cursor: crosshair;
}

.trading-pair-chart-crosshair-container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.crosshair-vertical-line {
    height: 0;
}

.crosshair-horizontal-line-container {
    position: absolute;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
}

.horizontal-line {
    height: 2px; 
    width: 0;
    position: relative; 
}

.horizontal-line-section {
    height: 2px;
    background-color: var(--BLUE-LIGHT-1);
    position: absolute;
    border-radius: 10px;
    bottom: 0;
}

.crosshair-label {
    position: absolute;
    font-size: 16px;
    width: 90px;
    height: 32px;
    background-color: var(--BLUE-DARK-1);
    border-radius: 5px;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timestamp-crosshair-label {
    bottom: 0;
    left: -45px;
}

.price-crosshair-label {
    left: 0;
    bottom: -16px;
}

.chart-tooltip {
    width: 150px;
    height: 150px;
    background-color: var(--BLUE-DARK-1);
    color: var(--WHITE);
    font-size: 16px;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    gap: 5px
}

.orders-card-container {
    width: 1200px;
    height: 300px;
    border: 1px solid var(--GRAY-LIGHT-2);
    border-radius: 15px;
}

.trading-pair-side-card-container {
    width: 100%;
    border: 1px solid var(--GRAY-LIGHT-2);
    border-radius: 15px;
    height: 100%;
}

.trading-pair-side-heading-container {
    height: 60px;
    padding: 0 20px;
    width: 100%;
    border-bottom: 1px solid var(--GRAY-LIGHT-2);
    
}

.trading-pair-side-main-container {
    height: calc(100% - 60px);
}

/* Order Book Section */

.order-book-card-container {
    height: 530px;
}

.buy-sell-card-container {
    height: 640px;
}

.trading-pair-menu-btn {
    position: fixed;
    right: 30px;
    bottom: 30px;
    background-color: var(--BLUE-DARK-1);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    cursor: pointer;
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
}

.hamburger-trading-pair {
    display: block;
    cursor: pointer;
}

.bar-trading-pair {
    display: block;
    width: 50px;
    height: 7px;
    margin: 10px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--WHITE);
    border-radius: 3px;
}

.hamburger-trading-pair.active .bar-trading-pair:nth-child(2) {
    opacity: 0;
}

.hamburger-trading-pair.active .bar-trading-pair:nth-child(1) {
    transform: translateY(17px) rotate(45deg);
}

.hamburger-trading-pair.active .bar-trading-pair:nth-child(3) {
    transform: translateY(-17px) rotate(-45deg);
}

footer.active {
    position: fixed;
    z-index: 15;
}

header.active {
    position: fixed;
    z-index: 15;
    background-color: var(--GRAY-LIGHT-1);
}

.trading-pair-menu-btn.active {
    z-index: 15;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(245, 245, 245, 0);
    display: none;
    pointer-events: all;
    z-index: 14;
}

.markets-section {
    padding-top: 0;
}

.order-book-main-container {
    width: 100%;
    padding: 10px;
    font-size: 1.1rem;
}

.order-book-numbers-container {
    justify-content: flex-start;
    height: 100%;
    width: 39%;
}

.order-book-current-number-container {
    width: 22%;
    gap: 20px;
    padding: 0 2px;
    justify-content: flex-start;
    height: 100%;
}

.current-number-amount-container, .current-number-price-container {
    gap: 5px;
}

.current-number-price, .current-number-amount {
    color: var(--GRAY-DARK-1);
}

.sell-numbers-heading-container, .sell-numbers-main-container, .buy-numbers-heading-container, .buy-numbers-main-container {
    justify-content: space-between;
    width: 100%;
}

.sell-numbers-heading-container, .sell-numbers-main-container {
    flex-direction: row-reverse;
}

.sell-numbers-main-container, .buy-numbers-main-container {
    height: calc(100% - 20px);
}

.sell-numbers-heading-container, .buy-numbers-heading-container {
    height: 20px;
}

.sell-numbers-list, .buy-numbers-list {
    justify-content: space-between;
    height: 100%;
}

.trading-pair-heading {
    font-size: 2rem;
}

/* Buy Sell Tab Section */

.buy-sell-tab-heading {
    width: 50%;
    height: 100%;
    background-color: var(--GRAY-LIGHT-3);
    cursor: pointer;
}

.buy-sell-heading-container {
    padding: 0;
    border: none;
}

.buy-sell-tab-heading-container {
    height: 100%;
    justify-content: flex-end;
}

.buy-tab-heading.active {
    border-top: 5px solid var(--GREEN-1);;
    border-radius: 15px 0 0 0;
    color: var(--GREEN-1);
    background-color: var(--GRAY-LIGHT-1);
}

.sell-tab-heading.active {
    border-top: 5px solid var(--RED-1);;
    border-radius: 0px 15px 0 0;
    color: var(--RED-1);
    background-color: var(--GRAY-LIGHT-1);
}

.buy-order-btns-container {
    width: 100%;
    justify-content: space-evenly;
    height: 50px;
}

.buy-sell-main-container {
    width: 100%;
    padding: 30px 20px;
    justify-content: flex-start;
    gap: 50px;
}

.buy-sell-order-container {
    height: calc(100% - 50px);
    justify-content: space-between;
}

.limit-price-input-container {
    display: none;
}

.limit-price-input-container.active {
    display: flex;
}

.buy-order-btn {
    cursor: pointer;
    position: relative;
}

.buy-order-btn.active {
    color: var(--BLUE-DARK-1);
}

.buy-order-btn::after {
    position: absolute;
    content: '';
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--BLUE-DARK-1);
    transition: width 0.5s ease;
}

.buy-order-btn:hover::after,
.buy-order-btn.active::after {
    width: 100%;
}

.buy-sell-tab-input-container {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid var(--GRAY-LIGHT-2);
    border-radius: 5px;
    justify-content: space-between;
    position: relative;
}

.buy-sell-tab-text {
    font-size: 1.3rem;
    color: var(--GRAY-DARK-1);
}

.buy-sell-tab-input-sybmol-container {
    gap: 10px;
    justify-content: flex-end;
    position: relative;
}

.buy-sell-tab-input {
    background-color: var(--GRAY-LIGHT-1);
    border: none;
    outline: none;
    font-size: 1.3rem;
    color: var(--GRAY-DARK-1);
    text-align: right;
    width: 50%;
}

.buy-sell-tab-input::placeholder {
    color: var(--GRAY-LIGHT-2);
}

.buy-sell-tab-input-symbol {
    font-size: 1.1rem;
}

.amount-total-input-container {
    gap: 25px;
}

.amount-total-bar-container {
    width: 100%;
}

.amount-total-bar {
    width: 80%;
    height: 20px;
    border-radius: 50px;
    position: relative;
    background-color: var(--GRAY-LIGHT-3);
    border: 1px solid var(--GRAY-LIGHT-2);;
}

.bar-marker {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--BLUE-DARK-1);
    position: absolute;
    top: 0px;
    z-index: 12;
}

.bar-0 {
    left: 0px;
}

.bar-25 {
    left: calc(25% - 10px);
}

.bar-50 {
    left: calc(50% - 10px);
}

.bar-75 {
    left: calc(75% - 10px);
}

.bar-100 {
    left: calc(100% - 20px);
}

.bar-marker-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.bar-marker-text {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -20px;
    left: 0;
    font-size: 0.8rem;
    color: var(--GRAY-DARK-2);
}

.bar-slider-marker {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--BLUE-DARK-1);
    position: absolute;
    top: -5px;
    left: -5px;
    cursor: pointer;
    z-index: 13;
}

.bar-slider {
    z-index: 11;
    position: absolute;
    width: 0%;
    height: 100%;
    border-radius: 50px;
    background-color: var(--BLUE-LIGHT-1);
    left: 0;
    top: 0;
}

.bar-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 14;
    cursor: pointer;
}

.user-assets-info-container {
    width: 80%;
    gap: 10px;
}

.user-asset-info-container {
    justify-content: space-between;
    width: 100%;
}

.crypto-asset-info {
    gap: 5px;
}

.buy-sell-tab-btn {
    color: var(--WHITE);
    gap: 7px;
}

.buy-sell-tab-btn.buy {
    background-color: var(--GREEN-1);
}

.buy-sell-tab-btn.sell {
    background-color: var(--RED-1);
}

.insufficient-funds-btn {
    display: none;
}

.buy-sell-error-message-container {
    height: 30px;
    width: 200px;
    padding: 0 10px;
    position: absolute;
    left: calc(100% + 10px);
    top: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--RED-1);
    border-radius: 5px;
}

.buy-sell-error-message-text {
    color: var(--WHITE);
    font-size: 0.9rem;
}

.buy-sell-error-icon-container {
    width: 30px;
    height: 30px;
    background-color: var(--RED-1);
    border-radius: 50%;
    position: absolute;
    left: 100px;
    cursor: pointer;
}

.buy-sell-error-icon-container:hover .buy-sell-error-message-container {
    display: flex;
}

.buy-sell-error-icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-sell-error-icon-container i {
    color: var(--WHITE);
    font-size: 1.15rem;
}

.buy-sell-tab-input-container.error {
    border: 1px solid var(--RED-1);
}


/* Orders Section */

.orders-table-container {
    width: 100%;
    justify-content: flex-start;
    padding: 0 20px;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
}

.orders-table thead, .orders-table tbody, .orders-table tr {
    width: 100%;
}

.orders-table td, .orders-table th {
    padding: 5px 0;
    width: 12.5%;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--GRAY-DARK-1);
}

.orders-table th {
    color: var(--BLUE-DARK-1);
    padding: 16px 0 5px 0;
    font-weight: 600;
}

td.orders-time, th.orders-time-heading {
    width: 15%;
}


td.orders-cancel, th.orders-cancel-heading {
    width: 10%;
}

.cancel-order-btn {
    background-color: var(--RED-1);
    font-size: 0.9rem;
    padding: 7px 10px;
    color: var(--WHITE);
    margin: auto;
}
