{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>CoinHub</title>
</head>
<body>
    <!-- Header Logo, Nav Bar and Social Links -->
    <header>
        <div class="header-container">
            <!-- Logo -->
            <div class="logo-container">
                <a href="index.html" class="logo">
                    
                    <div class="logo-img-container">
                        <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1684587917/CI_PP4_COINHUB/logo/kgrdqh5emmauutm2qtn5.png" alt="CoinHub Logo"
                            class="logo-img">
                    </div>
                    
                    <div class="logo-text">CoinHub</div>
                </a>
            </div>
            <!-- Nav Bar -->
            <nav class="nav-bar">
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Buy Crypto</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Markets</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Trade</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Convert</a>
                    </li>
                </ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
            </nav>
            <!-- Account Buttons -->
            <div class="account-login-container">
                <div class="account-login-btns-container">
                    <div class="login-btn">
                        Login
                    </div>
                    <div class="btn register-btn">
                        Register
                    </div>
                </div>
                <div class="account-login-icon-container">
                    <i class="fa-solid fa-right-to-bracket account-login-icon"></i>
                </div>
            </div>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <!-- Copyright -->
            <div class="copyright">
                © Copyrights 2023
                CoinHub
            </div>
            <!-- Disclaimer -->
            <div class="disclaimer">
                *Disclaimer: This website is for educational purposes only; it does not facilitate real cryptocurrency transactions. Exercise caution and seek professional advice for actual investments.
            </div>
            <!-- Footer Logo -->
            <div class="footer-logo-img-container">
                <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1685017432/CI_PP4_COINHUB/logo/ny7oezfhfqzlbtwibcu6.png" alt="CoinHub Logo"
                    class="footer-logo">
            </div>
        </div>
    </footer>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/5821df7d40.js" crossorigin="anonymous"></script>

    <script src="{% static 'js/nav-menu.js' %}"></script>
    
</body>
</html>