<div class="table-wrapper w-100">
    <table class="crypto-list-home-table w-100">
        <thead>
            <tr>
                <th class="crypto-name-symbol-heading">Name</th>
                <th class="crypto-price-heading">Price</th>
                <th class="crypto-change">Change</th>
                <th class="crypto-chart">Chart</th>
                <th class="crypto-trade">Trade</th>
            </tr>
        </thead>
        <tbody>
            {% for crypto in cryptocurrencies %}
                <tr>
                    <td class="crypto-name-symbol">
                        <div class="crypto-name-symbol-wrapper">
                            <div class="crypto-icon-container">
                                <img src="{{ crypto.icon }}" alt="{{ crypto.name }} Icon" class="crypto-icon" />
                            </div>
                            <div class="crypto-details">
                                <div class="crypto-name">{{ crypto.name }}</div>
                                <div class="crypto-symbol">{{ crypto.symbol }}</div>
                            </div>
                        </div>
                    </td>
                    <td class="crypto-price">{{ crypto.price }}</td>
                    <td class="crypto-change">{{ crypto.change }}%</td>
                    <td class="crypto-chart"></td>
                    <td class="crypto-trade">
                        <div class="buy-btn btn">Buy</div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
