{% extends "base.html" %}
{% load static %}

{% block content %}

<nav class="crypto-details-side-nav">
    <div class="side-nav-wrapper">
        <a href="{% url 'markets' %}" class="return-btn dark-text">
            <i class="fa-solid fa-arrow-left"></i> View all assets
        </a>
        <ul class="side-nav-menu content-container gp-50">
            <li class="side-nav-item nav-item">
                <a href="#" class="side-nav-link nav-link">Price</a>
            </li>
            <li class="side-nav-item nav-item">
                <a href="#" class="side-nav-link nav-link">Market</a>
            </li>
            <li class="side-nav-item nav-item">
                <a href="#" class="side-nav-link nav-link">About</a>
            </li>
            <li class="side-nav-item nav-item">
                <a href="#" class="side-nav-link nav-link">News</a>
            </li>
        </ul>
    </div>
</nav>

<section class="crypto-details-heading-section crypto-details-section">
    <div class="crypto-details-section-container content-container-rows">
        <div class="crypto-details-icon-name-symbol-container dark-text heading-3 content-container-rows gp-20">
            <div class="crypto-details-icon-container">
                <img src="{{ selected_crypto.icon }}" alt="{{ selected_crypto.name }} icon" class="crypto-details-icon icon">
            </div>
            <div class="crypto-details-crypto-name">
                {{ selected_crypto.name }}
            </div>
            <div class="crypto-details-crypto-symbol" style="color: {{ selected_crypto.color }}">
                {{ selected_crypto.symbol }}
            </div>
        </div>
        <div class="crypto-details-search-container">
            <div class="content-container search-container gp-20">
                <form class="crypto-search-form" method="GET">
                    <div class="input-container">
                        <input type="text" autocomplete="off" class="crypto-search-input" name="query" placeholder="Search for an asset">
                        <span class="search-icon"><i class="fas fa-search"></i></span>
                        <span class="close-icon"><i class="fa-solid fa-xmark"></i></span>
                    </div>
                </form>
    
                <div class="crypto-search-results content-container"></div>
            </div>
        </div>
    </div>
</section>

<section class="crypto-details-section historical-chart-buy-section">
    <div class="historical-section-container-wrapper content-container">
        <div class="loading-icon-container"></div>
        <div class="vertical-line-container">
            <div class="vertical-line"></div>
        </div>
        <div class="section-container historical-price-chart-section-container">
            <div class="content-container">
                <div class="historical-price-heading-container content-container-rows">
                    <div class="content-container historical-price-container gp-10">
                        <div class="price-text dark-text">Price</div>
                        <div class="historical-crypto-price heading-3 dark-text">€{{ selected_crypto.price }}</div>
                        <div class="historical-crypto-change sub-heading-3">24000%</div>
                    </div>
                    <div class="content-container-rows historical-price-time-periods gp-20">
                        <div class="historical-price-time-periods-btn dark-text" data-time-period="1h">1H</div>
                        <div class="historical-price-time-periods-btn dark-text" data-time-period="1d">1D</div>
                        <div class="historical-price-time-periods-btn dark-text" data-time-period="1w">1W</div>
                        <div class="historical-price-time-periods-btn dark-text active" data-time-period="1m">1M</div>
                        <div class="historical-price-time-periods-btn dark-text" data-time-period="1y">1Y</div>
                        <div class="historical-price-time-periods-btn dark-text" data-time-period="all">ALL</div>
                    </div>
                </div>
                <div class="historical-price-chart-container">
                    <canvas class="historical-price-chart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="crypto-details-buy-section content-container">
        
    </div>
</section>

<section class="crypto-details-market-stats-section crypto-details-section">
    <div class="content-container crypto-details-market-stats-container gp-50">
        <div class="heading-3 market-stats-heading">Market Stats</div>
        <div class="content-container-rows market-stats-container">
            <div class="content-container market-stats-col gp-50 w-33">
                <div class="market-stats-item content-container gp-20">
                    <div class="text-gd-2 dark-text">PRICE</div>
                    <div class="dark-text">{{ selected_crypto.price }}</div>
                </div>
                <div class="market-stats-item content-container gp-20">
                    <div class="text-gd-2 dark-text">CIRCULATING SUPPLY</div>
                    <div class="dark-text">{{ selected_crypto.circulating_supply }}</div>
                </div>
                <div class="market-stats-item content-container gp-20">
                    <div class="text-gd-2 dark-text">VOLUME (24H)</div>
                    <div class="dark-text">{{ selected_crypto.volume }}</div>
                </div>
                <div class="market-stats-item content-container gp-20">
                    <div class="text-gd-2 dark-text">PRICE CHANGE (1H)</div>
                    <div class="dark-text">{{ selected_crypto.change_1h }}</div>
                </div>
            </div>
            <div class="content-container market-stats-col gp-50 w-33">
                <div class="market-stats-item content-container gp-20">
                    <div class="text-gd-2 dark-text">MARKET CAP</div>
                    <div class="dark-text">{{ selected_crypto.market_cap }}</div>
                </div>
                <div class="market-stats-item content-container gp-20">
                    <div class="text-gd-2 dark-text">TOTAL SUPPLY</div>
                    <div class="dark-text">{{ selected_crypto.total_supply }}</div>
                </div>
                <div class="market-stats-item content-container gp-20">
                    <div class="text-gd-2 dark-text">ALL TIME HIGH</div>
                    <div class="dark-text">{{ selected_crypto.all_time_high }}</div>
                </div>
                <div class="market-stats-item content-container gp-20">
                    <div class="text-gd-2 dark-text">PRICE CHANGE (24H)</div>
                    <div class="dark-text">{{ selected_crypto.change_24h }}</div>
                </div>
            </div>
            <div class="content-container market-stats-col gp-50 w-33">
                <div class="market-stats-item content-container gp-20">
                    <div class="text-gd-2 dark-text">FULLY DILUTED MARKET CAP</div>
                    <div class="dark-text">{{ selected_crypto.fully_diluted_market_cap }}</div>
                </div>
                <div class="market-stats-item content-container gp-20">
                    <div class="text-gd-2 dark-text">MAX SUPPLY</div>
                    <div class="dark-text">{{ selected_crypto.max_supply }}</div>
                </div>
                <div class="market-stats-item content-container gp-20">
                    <div class="text-gd-2 dark-text">ALL TIME HIGH CHANGE</div>
                    <div class="dark-text">{{ selected_crypto.ath_change }}</div>
                </div>
                <div class="market-stats-item content-container gp-20">
                    <div class="text-gd-2 dark-text">PRICE CHANGE (7D)</div>
                    <div class="dark-text">{{ selected_crypto.change_7d }}</div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/crypto-details.js' %}"></script>
<script src="{% static 'js/crypto-search.js' %}"></script>

{% endblock %}