{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="deposit-section section">
    <div class="deposit-card content-container">
        <div class="deposit-card-balance text-gd-2">Current Balance: €<span class="euro-balance">{{ euro }}</span></div>
        <div class="deposit-card-wrapper">
            <div class="deposit-form-wrapper">
                <form method="post" class="deposit-form content-container gp-10" novalidate autocomplete="off">
                    {% csrf_token %}
                    <div class="deposit-form-input-container content-container">
                        <label class="dark-text" for="cardholder">Cardholder Name:</label>
                        <div class="deposit-input-wrapper">
                            <input class="deposit-form-input cardholder-input" type="text" id="cardholder" name="cardholder" required>
                        </div>
                    </div>
                    <div class="deposit-form-input-container content-container">
                        <label class="dark-text" for="cardnumber">Card Number:</label>
                        <div class="deposit-input-wrapper">
                            <input class="deposit-form-input cardnumber-input" type="text" id="cardnumber" name="cardnumber" required>
                        </div>
                    </div>
                    <div class="expire-cvv-container content-container-rows">
                        <div class="deposit-form-input-container content-container">
                            <label class="dark-text" for="expiration">Expire Date:</label>
                            <div class="deposit-input-wrapper">
                                <input class="deposit-form-input expiration-input" type="text" id="expiration" name="expiration" placeholder="MM/YYYY" required>
                            </div>
                        </div>
                        <div class="deposit-form-input-container content-container">
                            <label class="dark-text" for="cvv">CVV:</label>
                            <div class="deposit-input-wrapper">
                                <input class="deposit-form-input cvv-input" type="text" id="cvv" name="cvv" required>
                            </div>
                        </div>
                    </div>
                    <div class="deposit-form-input-container content-container deposit-form-amount-input-container">
                        <label class="dark-text" for="amount">Amount: (limit: 1000000)</label>
                        <div class="deposit-input-wrapper">
                            <input class="deposit-form-input amount-input" type="text" id="amount" name="amount" required>
                            <div class="dark-text euro-symbol">€</div>
                        </div>
                    </div>
                    <div class="deposit-form-input-container"></div>
                    <button type="submit" class="btn deposit-btn">Deposit</button>
                </form>
            </div>
            <div class="balance-container content-container gp-20">
                <div class="balance-message dark-text">You have successfully deposited €<span class="deposit-amount"></span> into your account!</div>
                <div class="blance-message dark-text">Your Balance is: €<span class="euro-balance"></span></div>
                <a href="{% url 'deposit_page' %}" class="btn add-more-btn">Add More</a>
            </div>
            <div class="loading-icon-container"></div>
        </div>
    </div>
</section>

<script src="{% static 'js/deposit.js' %}"></script>

{% endblock %}