{% extends "base.html" %}

{% block content %}
<section class="welcome-section light-gray-1 section">
    <div class="section-container welcome-section-container">
        <div class="content-container welcome-content-container">
            <div class="welcome-heading heading dark-text">
                Grow your crypto portfolio
            </div>
            <div class="welcome-text dark-text">
                CoinHub is the most popular place to buy and sell cryptocurrency. It's as easy as signing up and you can get started today.
            </div>
            <div class="btn register-btn">
                Sign Up
            </div>
        </div>
        <div class="img-container welcome-img-container">
            <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1684597300/CI_PP4_COINHUB/welcome-home/x5tdiufnv475fgfinnxa.png" alt="Welcome Image">
        </div>
    </div>
</section>
{% endblock %}