{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Welcome Section -->
<section class="welcome-section light-gray-1 section">
    <div class="section-container welcome-section-container">
        <div class="content-container welcome-content-container gp-20">
            <div class="welcome-heading heading dark-text gp-10">
                <div class="line-1">Grow your</div>
                <div class="line-2">crypto portfolio</div>
            </div>
            <div class="welcome-text dark-text">
                CoinHub is the most popular place to buy and sell cryptocurrency. It's as easy as signing up and you can get started today.
            </div>
            <div class="btn register-btn">
                Sign Up
            </div>
        </div>
        <div class="img-container welcome-img-container">
            <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1685476859/CI_PP4_COINHUB/welcome-home/vgklyxtnbr5ckwbqiivu.png" alt="Welcome Image">
        </div>
    </div>
</section>
<!-- Website Stats Section -->
<section class="stats-section section dark-blue-1">
    <div class="section-container stats-container">
        <div class="stat-col content-container">
            <div class="stat-heading white-text">$40B</div>
            <div class="stat-subheading white-text">24h trading volume</div>
        </div>
        <div class="stat-col content-container">
            <div class="stat-heading white-text">110M</div>
            <div class="stat-subheading white-text">Registered users</div>
        </div>
        <div class="stat-col content-container">
            <div class="stat-heading white-text">&lt;0.05%</div>
            <div class="stat-subheading white-text">Lowest transaction fees</div>
        </div>
    </div>
</section>
<!-- Popular Crypto List -->
<section class="crypto-list-home-section section light-gray-1">
    <div class="section-container crypto-list-home-container">
        <div class="content-container w-100">
            <div class="crypto-list-home-heading-container w-100 pb-50">
                <div class="crypto-list-heading dark-text">Popular cryptocurrencies</div>
                <a href="#" class="view-more-markets-link text-gd-2">View more markets <i class="fa-solid fa-chevron-right"></i></a>
            </div>
            <!-- Popular Crypto List -->
            <div class="table-wrapper w-100">
                <table class="crypto-list-home-table w-100">
                    <thead>
                        <tr>
                            <th class="crypto-name-symbol-heading">Name</th>
                            <th class="crypto-price-heading">Price</th>
                            <th class="crypto-change">Change</th>
                            <th class="crypto-chart">Chart</th>
                            <th class="crypto-trade">Trade</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for crypto in cryptocurrencies %}
                            <tr>
                                <td class="crypto-name-symbol">
                                    <a href="{% url 'crypto_details' crypto.symbol %}" class="crypto-name-symbol-wrapper">
                                        <div class="crypto-icon-container">
                                            <img src="{{ crypto.icon }}" alt="{{ crypto.name }} Icon" class="crypto-icon" />
                                        </div>
                                        <div class="crypto-details">
                                            <div class="crypto-name">{{ crypto.name }}</div>
                                            <div class="crypto-symbol">{{ crypto.symbol }}</div>
                                        </div>
                                    </a>
                                </td>
                                <td class="crypto-price">{{ crypto.price }}</td>
                                <td class="crypto-change">{{ crypto.change }}%</td>
                                <td class="crypto-chart">
                                    <div class="table-content-wrapper w-100">
                                        <canvas class="price-sparkline"></canvas>
                                    </div>
                                </td>
                                <td class="crypto-trade">
                                    <div class="table-content-wrapper w-100">
                                        <div class="buy-btn btn">Buy</div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- Sparkline Data No Display -->
<div id="sparkline-data" data-sparkline="{{ sparkline_data }}"></div>

<section class="crypto-portfolio-home-section section light-gray-1">
    <div class="crypto-portfolio-home-container section-container">
        <div class="content-container w-100 portfolio-home-content-container">
            <div class="crypto-portfolio-heading-container content-container w-100 pb-50 gp-10">
                <div class="heading-3 dark-text">Create your cryptocurrency portfolio today</div>
                <div class="sub-heading-3 text-gd-2 pb-50">CoinHub is the easiest place in the world to start trading</div>
            </div>
            <div class="crypto-portfolio-showcase-container content-container-rows w-100 gp-50">
                <div class="content-container portfolio-benefits gp-50">
                    <div class="content-container-rows benefit-item gp-50">
                        <div class="benefit-icon-container">
                            <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1685457518/CI_PP4_COINHUB/icons/w0l851s7oitgt8uzthns.png" alt="Sign Up Icon" class="benefit-icon icon">
                        </div>
                        <div class="benefit-text-container content-container gp-20">
                            <div class="benefit-heading dark-text">
                                Sign Up
                            </div>
                            <div class="benefit-text dark-text text-gd-2">
                                Register for an account with your email address.
                            </div>
                        </div>
                    </div>
                    <div class="content-container-rows benefit-item gp-50">
                        <div class="benefit-icon-container">
                            <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1685457518/CI_PP4_COINHUB/icons/yl6ugn0xwotkjnbxrjxg.png" alt="Fund Account Icon" class="benefit-icon icon">
                        </div>
                        <div class="benefit-text-container content-container">
                            <div class="benefit-heading dark-text">
                                Fund your account
                            </div>
                            <div class="benefit-text dark-text text-gd-2">
                                Add funds to your crypto account to start trading.
                            </div>
                        </div>
                    </div>
                    <div class="content-container-rows benefit-item gp-50">
                        <div class="benefit-icon-container">
                            <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1685457518/CI_PP4_COINHUB/icons/zgwordfie6nnjgl03rax.png" alt="Trading Icon" class="benefit-icon icon">
                        </div>
                        <div class="benefit-text-container content-container">
                            <div class="benefit-heading dark-text">
                                Start trading
                            </div>
                            <div class="benefit-text dark-text text-gd-2">
                                You're in! Start buying and selling crypto.
                            </div>
                        </div>
                    </div>
                    <div class="content-container-rows benefit-item gp-50">
                        <div class="benefit-icon-container">
                            <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1685457518/CI_PP4_COINHUB/icons/i8didvkj3ikwnn6sm8zl.png" alt="Manage portfolio icon" class="benefit-icon icon">
                        </div>
                        <div class="benefit-text-container content-container">
                            <div class="benefit-heading dark-text">
                                Manage your portfolio
                            </div>
                            <div class="benefit-text dark-text text-gd-2">
                                Watch as your investments grow, manage them from one place.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portfolio-home-img-container box-shadow">
                    <div class="desktop-portfolio-img-container">

                    </div>
                    <div class="phone-portfolio-img-container box-shadow">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section trust-section ligth-gray-1">
    <div class="section-container">
        <div class="content-container w-100">
            <div class="content-container w-100 trust-heading-container gp-10 pb-50">
                <div class="heading-3">The most trustworthy cryptocurrency platform</div>
                <div class="sub-heading-3 text-gd-2">Here are some reasons to choose CoinHub</div>
            </div>
            <div class="content-container-rows reasons-container gp-50 w-100">
                <div class="content-container reason-item gp-20">
                    <div class="reason-icon-container">
                        <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1685462140/CI_PP4_COINHUB/icons/cjulisavmqyyhtejxjvy.png" alt="Safe icon" class="reason-icon icon">
                    </div>
                    <div class="reason-heading dark-text">
                        Safeguarded assets
                    </div>
                    <div class="reason-text text-gd-2 dark-text">
                        Our risk management measures make sure your assets are protected
                    </div>
                </div>
                <div class="content-container reason-item gp-20">
                    <div class="reason-icon-container">
                        <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1685466146/CI_PP4_COINHUB/icons/l89v4tyyjy5i33fwctbf.png" alt="Secure icon" class="reason-icon icon">
                    </div>
                    <div class="reason-heading dark-text">
                        Secure storage
                    </div>
                    <div class="reason-text text-gd-2 dark-text">
                        Your digital assets are stored securely in our offline storage
                    </div>
                </div>
                <div class="content-container reason-item gp-20">
                    <div class="reason-icon-container">
                        <img src="https://res.cloudinary.com/dzwyiggcp/image/upload/v1685462140/CI_PP4_COINHUB/icons/whhc54rv7of0yxreh484.png" alt="best icon" class="reason-icon icon">
                    </div>
                    <div class="reason-heading dark-text">
                        Industry best standards
                    </div>
                    <div class="reason-text text-gd-2 dark-text">
                        CoinHub are the leading platform for digital currency investments
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section call-to-action-section light-gray-3">
    <div class="section-container">
        <div class="content-container gp-50">
            <div class="heading-3 dark-text">Start earning today</div>
            <div class="btn">Sign Up Now</div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/crypto-list.js' %}"></script>
{% endblock %}