{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="crypto-search-section section light-gray-1">
    <div class="content-container">
        <form class="crypto-search-form" method="GET">
            <input type="text" class="crypto-search-input" name="query" placeholder="Enter your search query">
        </form>

        <div class="crypto-search-results"></div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/crypto_search.js' %}"></script>
{% endblock %}